.topbar-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 34px 40px;
  background-color: #046307;
  width: 100%;
  border-radius: 0 0 70px 70px;
  box-sizing: border-box;
  min-height: 90px;
  margin-top: 0;
  
}
.topbar-center {
  width: 100%;
}

.topbar-center.dashboard {
  display: flex;
  align-items: center;   /* pantay vertically */
  justify-content: space-between; /* pagitan text at image */
  width: 100%;
}

.topbar-center.dashboard h3 {
  color: white !important;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
}

.profile {
  display: flex;
  align-items: center;
  margin-left: 20px; /* konting space sa kaliwa ng image */
}

.profile img {
  width: 70px;   /* bawasan size para proportion */
  height: 70px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}

.topbar-content h3 {
  margin: 0;
  color: white !important;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;

}
.topbar-center .patients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.search-input {
  padding: 12px 16px 12px 40px; /* space for icon */
  border: 1.5px solid #046307;
  border-radius: 8px;
  width: 100%; /* mas malaki */
  box-sizing: border-box;
  font-size: 1.2rem;
  background-color: white;
  color: black;
}

.search-bar .search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #046307;
  pointer-events: none;
}
.topbar-right {
  display: flex;
  align-items: center;
}

/* NOTIFICATIONS */
.notification-wrapper {
  position: relative;
}

.notification-btn {
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  color: #fff;
  position: relative;
}

.notif-dot {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.notif-dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  width: 280px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  z-index: 200;
  cursor: pointer;
}

.notif-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.notif-item.unread {
  background: rgba(0, 123, 255, 0.12);
  border-left: 4px solid #007bff;
  font-weight: 600;
}
.notif-item:last-child {
  border-bottom: none;
}

.notif-time {
  font-size: 11px;
  color: gray;
}

.empty {
  text-align: center;
  padding: 15px;
  color: gray;
  font-size: 14px;
}

